body, body * {
	padding: 0;
	margin: 0;
	user-select:none;
}
#bar {
	height:50px;
	position: relative;
	width: 100%;
	overflow: hidden;
	button {
		font-size: 26px;
		margin-top: 13px;
	}
	#play {
		float: left;
	}
	#instruments {
		display: block;
		margin-left: 15px;
		// margin-top: 9px;
		// font-size: 18px;
		// padding: 4px 8px;
		float: left;
		height:100%;
		margin-top:0;
		font-size:12px;
		option {
			padding: 4px 8px;
		}
	}
	#instrument-actions {
		width:calc(~"50% - 60px");
		float: left;
		#instruments {
			max-width:calc(~"100% - 50px");
		}
	}
	#track-actions {
		width: 60px;
		float: left;
	}
	#file-actions {
		float: right;
		height: 100%;
		padding-right:10px;
		max-width:50%;
		box-sizing: border-box;
		#file-name {
			float: left;
			font-size: 18px;
			padding: 4px 8px;
			margin-top: 9px;
			max-width:calc(~"100% - 84px");
		}
	}
}
button {
	background: transparent;
	border:none;
	margin-left:6px;
	float: left;
}
.play, #play {
	color: #0f0;
	&.active:before {
		color: #000;
		content: "\f04d";
	}
}
#edit.active:before {
	content: "\f00d";
}
#track-container {
	height: calc(~"66.66% - 50px");
	position: relative;
	width: 100%;
	overflow: hidden;
}
#sequencer {
	height:50%;
	width: 100%;
	position: absolute;
	bottom:0;
	#sequencer-ticker {

		position: absolute;
		border: 1px solid;
		height: calc(~"100% - 20px");
		top:20px;
		margin-left: 50px;
		z-index:4;
	}
	#sequencer-toggle {
		width: 100%;
		height: 20px;
		text-align: center;
		background: #000;
		color:#fff;
		border-radius: 5px 5px 0 0;
		box-sizing: border-box;
		padding: 2px 0;
		&:hover {
			cursor: pointer;
		}

	}
	&.hidden {
		bottom:calc(~"-50% + 20px");
		+ #tracks {
			height:calc(~"100% - 20px");
		}
	}
	#sequencer-actions {
		width: 50px;
		float: left;
		height:calc(~"100% - 20px");
		.play,.edit {
			padding: 5px;
			font-size: 26px;
			&:hover {
				cursor: pointer;
			}
		}
		.edit {
			&.active:before {
				content: "\f00d";
			}
		}
	}
	#sequencer-tracks {
		width:calc(~"100% - 50px");
		height:calc(~"100% - 20px");
		float: left;
		display: block;
		overflow: auto;
		list-style: none;
		.sequencer-track {
			height: 20px;
			border: 1px solid #aaa;
			display: block;
			min-width: 1000%;
			box-sizing: border-box;
			overflow: hidden;
			position: relative;
			&.active {
				height:30px;
			}
			&.editing {
				height: 100%!important;
				.sequence-block {
					&:not(.editing) {
						height: 30px!important;
					}
				}
			}
			.sequence-block {
				position: absolute!important;
				height: 100%!important;
				background: #999;
				&.active {
					background: #48f;
				}
				.sequence-loop-input {
					position: absolute;
					left: 0;
					right: 0;
					top:0;
					margin: auto;
					height: 20px;
					max-width: 50px;
					min-width:30px;
					width:50%;
				}
				&.editing {
					// font-family: sans-serif;
					&:before {
						content: "Repeats: ";
						margin-left:5px;
					}
					background: #eee;
					min-width: 250px;
					z-index: 2;
					div {
						&:before {
							content: " Edit: "
						}
						display: inline;
					}
					.sequence-loop-input {
						position: static;
						display: inline-block;
					}
					button {
						display: inline-block;
						float:none;
					}

					select {
					display: inline-block;
					}

					canvas {
						display: block;
						height: calc(~"100% - 20px");
					}
				}
			}
		}
	}
}
#tracks{
	display: block;
	list-style: none;
	width:100%;
	height:50%;
	overflow: auto;
	.track {
		height:25px;
		border: 1px solid #aaa;
		display: block;
		width: 100%;
		box-sizing: border-box;
		overflow: hidden;
		position: relative;
		background:#ddd;
		&.active {
			height:40px;
			border: 1px solid #000;
			button {
				margin-top:11.5px;
			}
			input {
				margin-top:9px;
			}
			.record {
				color: #800;
			}
		}
		&.recorded {
			background:#fff;
			&.muted {
				// opacity:0.2;
				&:before {
					content:" ";
					width:100%;
					height:100%;
					left:0;
					right:0;
					position: absolute;
					z-index: 1;
					background: #fff;
					opacity: 0.8;
				}
				.play {
					display:none;
				}
			}
			.play {
				display: inline-block;
			}
		}
		&.waiting{
			.play:not(.active):before {
				color: #000;
				content:"\f017";
			}
		}
		&.editing {
			height: 100%;
			> * {
				position: relative;
			}
			.notes {
				display: none;
			}
			.actions {
				z-index:3;
			}
			.ticker {
				z-index:4;
				margin-left:90px;
				margin-top:30px;
			}
			#editor {
				position: absolute;
				padding-left:90px;
				box-sizing: border-box;
				#edit-tools {
					padding-left:40px;
					box-sizing: border-box;
				}
			}
		}
		button {
			margin-top:4px;
		}
		input {
			margin-top:2px;
			margin-right:2px;
		}
		.record {
			color: #f99;
			&.active:before {
				content: "\f04d";
				color:#000;
			}
		}
		.play {
			display: none;
			top:-7px;
		}
		.actions {
			width:90px;
			float: left;
			input {
				float: right;
				width: 45px;
			}
		}
		.ticker,.marker,.time-marker {
			position: absolute;
			border: 1px solid;
			height: 100%;
			margin-left: 90px;
		}
		.time-marker {
			text-align: center;
			border: none;
			background: rgba(255,255,255,0.5);
			line-height: 20px;
			vertical-align: middle;
		}
		.marker {
			input {
				display: none;
				position: absolute;
				top:15px;
				max-width:42px;
			}
			&.active {
				input {
					display: block;
				}
			}
			&:before {
				content:" ";
				position: absolute;
				top:0;
				width: 10px;
				height: 10px;
				background: #000;
				border-radius: 50%;
			}
			&.stop {
				&:before {
					left:0;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
			&.start {
				&:before {
					right:0;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					top:10px;
				}
			}
		}
		.notes {
			width:calc(~"100% - 90px");
			float: left;
			position: relative;
			height:100%;
			.note {
				border:1px solid #000;
				position: absolute;
			}
		}

	}
}
#notes {
	background: #fff;
	display: block;
	list-style: none;
	width:100%;
	height: 33.33%;
	position: fixed;
	bottom:0;
	left:0;
	#notes-toggle {
		width: 100%;
		height: 20px;
		text-align: center;
		background: #000;
		color:#fff;
		border-radius: 5px 5px 0 0;
		box-sizing: border-box;
		padding: 2px 0;
		&:hover {
			cursor: pointer;
		}
		label {
			margin-left: 10px;
		}
	}
	&.hidden {
		bottom:calc(~"-33.33% + 20px");
		+ #track-container {
			height:calc(~"100% - 70px");
		}
	}
	.note {
		border: 1px solid #000;
		display: block;
		float: left;
		text-align: center;
		width:calc(100% / 36);
		box-sizing: border-box;
		height: 100%;
		position: relative;
		background: #fff;
		&.flat {
			background: #000;
			color: #fff;
		}
		&.active {
			background: #ddd;
		}
		&::before {
			content: attr(data-note);
			display: block;
		}
		&::after {
			content: attr(data-key);
			display: block;
		}
		.note.flat {
			width:100%;
			position: absolute;
			bottom: 0;
			height: 50%;
			left:-50%;
			border:1px solid #fff;
			overflow: hidden;
			&.active {
				background: #ddd;
			}
		}
	}
}
#popup {
	position: fixed;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	max-height:100%;
	height:400px;
	max-width:100%;
	width:300px;
	overflow: auto;
	padding: 15px;
	background: #fff;
	margin: auto;
	border: 1px solid #000;
	z-index: 10;
	button {
		margin: 0;
	}
	.actions {
		height:20px;
		+.content {
			height:calc(~"100% - 20px");
			overflow: auto;
		}
	}
	&.loading {
		text-align:center;
		height:200px;
		font-size:20px;
		line-height:200px;
		font-weight: bold;
	}
	.hidden {
		display: none!important;
	}
	.file {
		font-size: 18px;
		border-bottom:1px solid #000;
		padding: 8px;
		width: 100%;
		text-align: left;
		position: relative;
		// &.hascat {
		// 	background: #bbb;
		// }
		.add {
			position: absolute;
			right:0;
			top:0;
			padding: 8px;
			&.active {
				padding: 0;
				&:before {
					display: none;
				}
			}
			input {
				width: 100%;
				padding: 8px 4px;
			}

		}
	}
	.dropdown {
		position: absolute;
		background: #fff;
		border: 1px solid #000;
		border-top:none;
		z-index: 1;
		box-sizing: border-box;
		button {
			border-bottom: 1px solid #000;
			width: 100%;
			box-sizing: border-box;
			padding: 3px;
			&.keep {
				background: #000;
				color: #fff;
				font-weight: bold;
			}
			&:hover,&.active {
				background: #bbb;
			}

		}
	}
	&:before {
		z-index:-1;
		content: " ";
		position: fixed;
		left: 0;
		right: 0;
		top:0;
		bottom:0;
		background: #fff;
		opacity: 0.4;
	}
	input {
		width:50%;
	}
}
.pulse {
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:200px;
	height:200px;
	z-index: 1;
	margin: auto;
	text-align: center;
	&:before{
		line-height: 200px;
		vertical-align: middle;
	}
}

#editor {
	// position: fixed;
	// top: 0;
	// left:0;
	height: 100%;
	width: 100%;
	z-index:2;
	background: #fff;
	#edit-tools {
		height:30px;
		background: #fff;
		border-bottom:1px solid #000;
		box-sizing: border-box;
		label {
			margin-left:5px;
		}
		input,button {
			margin-top:2px;
			margin-left:5px;
			margin-right:5px;
			padding: 3px 5px 2px 5px;
		}
		button {
			float: right;
		}
	}
	#midi-editor {
		position: relative;
		height: calc(~"100% - 30px");
		width: 100%;
		* {
			user-select:none;
		}
		#midi-bars {
			position: absolute;
			top:0;
			z-index: -1;
			padding-left:40px;
			border-bottom: 1px solid #000;
			left:0;
			height:18px;
			min-width: 100%;
			box-sizing: border-box;
			white-space: nowrap;
			font-size: 0;
			background: #fff;
			.bar {
				// float: left;
				display: inline-block;
				text-align: center;
				position: relative;
				border-right: 1px solid #000;
				box-sizing: border-box;
				font-size:16px;
			}
			&[data-bpb] {
				.bar {
					&:before,&:after {
						content: " ";
						position: absolute;
						height: calc(~"100% - 18px");
						top:18px;
						box-sizing: border-box;
					}
				}
			}
			&[data-bpb='4'] {
				.bar {
					&:before {
						right: 25%;
						width: 50%;
						border-left: 1px solid #ddd;
						border-right: 1px solid #ddd;
					}
					&:after {
						right: 50%;
						border-right: 1px solid #ddd;
					}
				}
			}
			&[data-bpb='3'] {
				.bar {
					&:before {
						right: 33%;
						width: 33%;
						border-left: 1px solid #ddd;
						border-right: 1px solid #ddd;
					}
				}
			}
			&[data-bpb='2'] {
				.bar {
					&:before {
						right: 50%;
						border-left: 1px solid #ddd;
					}
				}
			}
			&[data-bpb='5'] {
				.bar {
					&:before {
						right: 20%;
						width: 60%;
						border-left: 1px solid #ddd;
						border-right: 1px solid #ddd;
					}
					&:after {
						right: 40%;
						width: 20%;
						border-left: 1px solid #ddd;
						border-right: 1px solid #ddd;
					}
				}
			}
		}
		#midi-notes {
			position: absolute;
			top:0;
			z-index: -1;
			left:0;
			border-right: 1px solid #000;
			padding-top: 18px;
			box-sizing: border-box;
			width: 40px;
			background:#fff;
			.note {
				font-size: 14px;
				padding:0 2px;
				height: 15px;
				border-bottom: 1px solid #000;
				box-sizing: border-box;
				// width:40px;
				// text-align: right;
				&.flat {
					background: #ddd;
					// color: #fff;
				}
			}
		}
		#midi-scroll {
			position: absolute;
			top:18px;
			left:40px;
			overflow: auto;
			width: calc(~"100% - 40px");
			height: calc(~"100% - 18px");
		}
		#midi-grid {
			// position: absolute;
			// padding-top: 18px;
			// padding-left:40px;
			box-sizing: border-box;
			position: relative;
			.grid-note {
				position: absolute!important;
				background: #000;
				height: 15px;
				box-sizing: border-box;
				&.ui-draggable:hover {
					cursor: move;
				}
				&.active {
					background: #48f;
				}
			}
		}

		#grid-select {
			background: rgba(0,0,255,0.5);
			position: fixed;
		}
	}
}
